.header-contaniner{
    background: #313942;;
    padding: 15px;
    color: #FFFFFF;
    font-weight: 800;
}

.header-items{
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    height: 100%;
    align-items: center;
    cursor: pointer;
}

.header-items :hover{
    color: #64B5F6;
}

.car-img{
    width: 35px;
}

.car-container>label{
    margin-left: 5px;
    background: #fff;
    padding: 3px 5px;
    border-radius: 50px;
    color: #313942;
}

.nombre-web{
    text-decoration: none;
    cursor: pointer;
    color: #ffffff;
}